.adi{
    width: 100%;
}

.yep{
    background: black;
    align-content: center;
    color: aliceblue;
    padding: 20px 50px;
    width:100%;
    text-align:center;
}

.yip{
    padding-left: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255,255,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(153,153,0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(102,102,0);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

@-ms-viewport {
  width: device-width ;
    zoom: 1.0 ;
}

@media not (max-width: 1024px) {
    .yep{
        width 100%;
        text-align: center; 
    }
    
    .aditya{
        width:280px;
        height:257.5px;
    }
    #somethingorother {
    width: 1023px ;
  }
}
