.adi{
    width: 100%;
}

.yep{
    background: black;
    align-content: center;
    color: aliceblue;
    padding: 20px 50px;
}

.yip{
    padding-left: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #90EE90;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #008000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006400;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

