.adi{
    width: 100%;
}

.yep{
    background: black;
    align-content: center;
    color: aliceblue;
    padding: 20px 50px;
}

.yip{
    padding-left: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

